@use "sass:map";

$breakpoints: (
  "desktop-width": 1024px,
  "pad-width": 768px,
);

$greyscale-palette: (
  'darkest': #000,
  'darker': #1E1E1E,
  'lighter': #c5c5c5,
  'lightest': #fff
);

@mixin bold {
  font-weight: 700;
}

@mixin desktop {
  @media screen 
    and (min-width: #{map.get($breakpoints, "desktop-width")}) {
      @content;
  }
}

@mixin pad {
  @media screen 
    and (min-width: #{map.get($breakpoints, "pad-width")}) {
      @content;
  }
}

@mixin text-primary {
  color: map.get($greyscale-palette, 'lightest');
  font-weight: 700;
}

@mixin text-secondary {
  color: map.get($greyscale-palette, 'lighter')
}
