.headingOne {
  color: var(--text-color-first, #fff);
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .headingOne {
    font-size: 4rem;
  }
}

.headingTwo {
  color: var(--text-color-first, #fff);
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .headingTwo {
    font-size: 2rem;
  }
}

.headingThree {
  color: var(--text-color-first, #fff);
  font-size: 1.125rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .headingThree {
    font-size: 1.25rem;
  }
}
