.container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.container:hover .arrow {
  transform: translateX(30%);
}

.container:hover .text {
  border-block-end-color: var(--palette-primary-second, #5bfcb1);
  border-block-end-style: solid;
  border-block-end-width: 1px;
}

.arrow {
  color: var(--text-color-first);
  height: 1em;
  transition: transform 0.25s;
  width: 1em;
}

.text {
  color: var(--text-color-first);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25em;
  margin-inline-end: 0.5em;
  transition: border 0.1s;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 1.25rem;
  }
}
