@use "../styles/utils.scss" as *;

.headingOne {
  @include bold;
  font-size: 2rem;

  @include desktop {
    font-size: 4rem;
  }
}

.headingTwo {
  @include bold;
  font-size: 1.5rem;

  @include desktop {
    font-size: 2rem;
  }
}
