.container {
    display: block;
    background-color: var(--bg-color-first, #1e1e1e);
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
    }
}

.main {
    width: 100%
}