@use "../styles/utils.scss" as *;

.headingOne {
  font-size: 2rem;
  font-weight: 700;

  @include desktop {
    font-size: 4rem;
  }
}

.headingTwo {
  font-size: 1.5rem;
  font-weight: 700;

  @include desktop {
    font-size: 2rem;
  }
}
